:root{
  --background-header: #161F49;
  --light-text: #FFFF;
  --mainbg: #FFFFFF;
  --main-textc: #404040;
  --button-background: #2468FF;
  --bacrground-color-hero: rgba(0, 0, 0, 0.5);
}
h1,h2,h3,h4,h5,p,ul{
  margin: 0;
  padding:  0;
}

body{
  background-color: var(--mainbg);
  font-family: Roboto, sans-serif;
  color:var(--main-textc);
}

a{ text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}
button{
  background-color: var(--button-background);
  color: var(--light-text);
}
.logo-link{
  padding: 0 36px;
}

.marketing {
  background-color: var(--background-header);
  color: var(--light-text);
  text-align: center;
  line-height: calc(23 / 14);
  letter-spacing: 0.10998px;
}
.container{
  width: 1440px;
  margin: 0 auto;
}
.flex-header{
  display: flex;
  align-items: center;
}
.nav-flex{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
  gap: 37px;
  margin-left: 195px;
}
.header-btn{
  margin-left: auto;
  padding: 28px 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: calc(25/14);
   
  letter-spacing: 0.10998px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
.nav-link{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 30px;
  padding-bottom: 25px;

  font-size: 17px;
  line-height: calc(25 / 17);
  letter-spacing: 0.10998px;
  color: var(--main-textc);

}
.nav-link:hover,
.nav-link:focus{
 color: var(--button-background);
}
.section-hero{
  padding-top: 120px;
  padding-bottom: 367px;
  background-color: var(--bacrground-color-hero);
  text-align: center;
  background-image: url(../img/rectangle.jpg);
  background-repeat: no-repeat;
  background-position: top, center;
}
.hero-title{
  margin-top: 24px;
  font-weight: 400;
  font-size: 72px;
  line-height: calc(80/72);
  color: var(--mainbg);
}
.hero-text{
  margin-bottom: 16px;
  font-size: 21px;
  line-height: calc(29/21);
  color: var(--light-text);
}
.hero-btn{
  padding: 16px 37px;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height:calc(14 / 14);
  letter-spacing: 0.11px;
  text-transform: uppercase;
  border: 1px solid var(--mainbg);
  background-color: transparent;
  color: var(--light-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus{
  border-color: var(--button-background);
  color: var(--button-background);
}

.amazon-section{
  padding-top: 110px;
  text-align: center;
}
.amazon-description{
  font-size: 18px;
  line-height: calc(21 / 18);
    
  margin-bottom: 21px;
}
.amazon-icon{
  margin-bottom: 21px;
}
.amazon-btn,.wifi-btn{
  display: block;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 117px;
  font-family: inherit;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  background-color: transparent;
  color: var(--main-textc);
  border: none;
  border-bottom: 1px solid var(--main-textc) ;
  cursor: pointer;
}
.amazon-title{
  font-size: 50px;
  line-height: calc(60 / 50);
  margin-bottom: 44px;
}
.amazon-text{
  font-size: 18px;
  line-height:calc(25 / 18);
  margin-bottom: 78px;
}
.amazon-button{
  padding: 17px 37px;

  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: calc(14/14);
  letter-spacing: 0.11px;
  text-transform: uppercase;
  border: 1px transparent;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.amazon-button:hover,
.amazon-button:focus{
  background-color: var(--mainbg);
  color:var(--button-background);
  border: 1px solid var(--button-background);
}
.amazon-thumb{
  margin: 0 auto;
  width: 736px;
}
.section-wifi{
  padding-top: 580px;
  padding-bottom: 80px;
  background-image: url(../img/button-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wifi-list {
  display: flex;
  justify-content: center;
  margin-bottom: 89px;
  gap: 240px;
}

.wifi-item {
  width: 400px;
}
.wifi-item:last-child{
  width: 542px;
}

.wifi-desckription {
  display: inline-block;
  padding: 1px 13px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  text-transform: uppercase;
  background-color: var(--mainbg);
  color: var(--main-textc);
  border-radius: 18px;
}

.wifi-title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 36px;
  line-height: calc(44 / 36);
  color: var(--light-text);
}

.wifi-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 42px;
  line-height: calc(48/42);
  color: var(--light-text);
}

.wifi-work {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25/18);
  color: var(--light-text);
}

.wifi-prace {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  color: #FFFFFF;
}

.wifi-button {
  padding: 17px 70px;
  
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: calc(14/14);
  letter-spacing: 0.11px;
  text-transform: uppercase;
  border: 1px transparent;
  color: #FFFFFF;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wifi-prace-weight{
  font-weight: 700;
}
.wifi-btn {
  color: var(--light-text);
  border-color: var(--light-text);
  text-transform: uppercase;
  }
.wall-street{
  background-color: var(--main-textc);
  padding: 200px;
  justify-content: center;

}
.wall-street_title{
  font-weight: 700;
  font-size: 42px;
  line-height: calc(48 / 42);
  text-align: center;
  color: var(--mainbg);
  text-align: center;
  justify-content: center;
  width: 823px;
  margin: 0 auto;
  margin-bottom: 49px;

}